jupyterlab==4.2.5
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
scipy==1.14.1
matplotlib==3.9.2
seaborn==0.13.2
joblib==1.4.2
streamlit==1.36.0
plotly==5.22.0
pytest==8.2.2
python-dotenv==1.0.1
pymongo==4.8.0
datasets==2.20.0
dash==2.17.1
gunicorn==22.0.0
printf "dash==2.17.1\ngunicorn==22.0.0\n" >> requirements.txt